svg {
    background-color: #EADBC4;
    border-style: solid;
    border-width: 2px;
    margin: 3px;
}

.button {
    opacity: .7;
    cursor: pointer;
}

.bod {
    cursor: pointer;
}

.label {
    cursor: pointer;
}

.blackhole {
    cursor: pointer;
    opacity: .7;
}
